<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head> 
<body>
    <div class="d-flex justify-content-around border border-dark rounded-bottom background_color: cadet blue" id="banner1" >
        <h1>Welcome To Gregslist &trade;</h1>
    </div>
    <div class="container border border-dark rounded-bottom" id="one">
        <div class="flex-container with-margins">
            <div class="d-flex justify-content-between">
                <h3 ><a href="/">Home</a></h3>
                <h3><a href="/about">About Us</a></h3>

                <h3><a href="/new">Create Listing</a></h3>
                <h3><a href="/login">Account</a></h3>
                <h3><a href="/inbox">Inbox</a></h3>
            </div>
        </div>
    </div>
            <div class="flex-container"  >
                <div>
                    <body>
<hr>
                        <div class="d-flex justify-content-center ">
                            <div class="border border-dark rounded" id="one">
                                <h1>A little bit about Gregslist!</h1>
                                
                                <div>
                                    <h4>About Gregslist and how is has, in no way, any relation to CRAIGSlist.org or any of its affiliates</h4>
                                    <h4>For the past 5000 years, human kind has been relying on the consumer driven capitalistic market front</h4>
                                    <h4> to satisfy the wants and needs of basic life. Here at Gregslist&trade;* we aim to put the control of that market</h4>
                                    <h4>directly in the hands of consumers just like YOU! With a peer to peer direct market and barter system</h4>
                                    <h4> you can score that new pair of skis youve been eyeing at that big box store for a fraction of the cost!</h4>
                                    <h4>Have some old car parts from your fiscally irresponsible mid-life crisis racecar purchase? Well over here</h4>
                                    <h4>at Gregslist We have a Vast network that can aid you recouping those financial mistakes.</h4>
                                    <h4>The best part  is that it is Completely FREE,you heard it right,Gregslist&trade;* is a completly user driven</h4>
                                    <h4>community. the benifits of such a community for us is NO LEGAL RESPONSIBILITY. To ensure secure</h4>
                                    <h4>payment for good or services we have waived all legal responsibility(noted in the TOS), leaving you </h4>
                                    <h4>the end consumer the freedom to pursure vigilante justice  in the even you are victimized in a scam. </h4>
                                    <h4>Well enough about us, lets talk about you. sign up for free today and start your path to bargainhood. </h4>
                                <hr>
                                    <h4>meet the frounder of Gregslist&trade;- Greg </h4>
                                    <h5>Greg is the founder and CEO of Gregslist, a popular classified ads website that operates in no of Craigslist.</h5>
                                    <h5>With a background in technology and a passion for creating user-friendly websites, Greg launched Gregslist as</h5>
                                    <h5>a way to provide a simple, straightforward platform for individuals and businesses to buy and sell goods and services online.</h5>
                                    <h5>Born and raised in the United States, Greg has always been fascinated by the power of technology to connect people and communities.</h5>
                                    <h5>He studied computer science in college and went on to work for several tech startups before striking out on his own with the launch of Gregslist.</h5>
                                    <h5>Today, Greg is known for his innovative approach to online marketplace design and his commitment to providing a safe and secure platform for his users.</h5>
                                    <h5>He is passionate about helping small businesses succeed and is always looking for ways to improve the user experience on his site.</h5>
                                    <h5>In his free time, Greg enjoys hiking, camping, and exploring the great outdoors with his family. He is also an avid </h5>
                                    <h5>reader and enjoys staying up-to-date on the latest developments in technology and business.</h5>
                                    <hr>
                                    <h6> *PROP65 gregslist&trade is know to cause cancer in the state of california and the peoples republic of flat earth.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    </body>
                </div>
                <script src="{{ url_for('static', filename='js/script.js') }}"></script>
                <footer class="d-flex justify-content-center" style="padding-top: 40px; height: 40px;"  >
                    <h6 class="border border-dark rounded"   id="one"> &odsold; Powered By-IHaveAlmostNoClueWhatImDoing2023 &odsold;</h6>
                </footer>
</body>

</html>